node_modules/*
!node_modules/.bin/
node_modules/.bin/*
!node_modules/.bin/tsc
!node_modules/.bin/tsserver
!node_modules/.package-lock.json
!node_modules/typescript/
!node_modules/typescript/**

playground/pypie_lang-*.whl
playground/pypie-wheel.json
